<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css"  href="../content/style/sass/site.css">
        <style type="text/css">
        </style>
    </head>
    <body>
        <div class="header">
            <div class="headerSearchArea floatLeft">
                <input type="text" id="textboxSearch">
                <button type="button" id="buttonSearch">search</button>
            </div>
            <div class="clearBoth"></div>
        </div>

        <div class="mainContainer">
            <div class="foundContainer floatLeft">
                <div>
                    <div class="searchItem floatLeft">
                        <div class="searchItemLabel">
                           Chapters
                        </div>
                        <div class="searchItemSchema">
                            dbo
                        </div>
                        <div class="searchItemDatabase">
                            Aph_Profile
                        </div>
                    </div>
                    <div class="searchItem floatLeft">
                        <div class="searchItemLabel">
                            Chapters
                        </div>
                        <div class="searchItemSchema">
                            dbo
                        </div>
                        <div class="searchItemDatabase">
                            Aph_Profile
                        </div>
                    </div>
                    <div class="searchItem floatLeft">
                        <div class="searchItemLabel">
                            Chapters
                        </div>
                        <div class="searchItemSchema">
                            dbo
                        </div>
                        <div class="searchItemDatabase">
                            Aph_Profile
                        </div>
                    </div>
                    <div class="searchItem floatLeft">
                        <div class="searchItemLabel">
                            Chapters
                        </div>
                        <div class="searchItemSchema">
                            dbo
                        </div>
                        <div class="searchItemDatabase">
                            Aph_Profile
                        </div>
                    </div>
                    <div class="clearBoth"></div>
                </div>
            </div>

            <div class="divTableDescription floatLeft">
                <fieldset class="fieldsetTableDescriptionText">
                    <legend>APH_Profile.dbo.Chapters</legend>
                    <div class="divDescriptionText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis justo nec enim elementum ut consectetur enim pretium. Sed sed libero nec elit tincidunt sodales. Integer elementum, sapien vel feugiat congue, velit lacus cursus est, id commodo ante tellus at turpis. Nullam egestas diam sed nibh convallis iaculis. Quisque ornare est eu ligula tempor eu commodo eros tincidunt. Nunc sem erat, feugiat quis tempor quis, interdum eget orci. Suspendisse feugiat tempus ipsum commodo molestie. Sed mollis libero consectetur lorem pellentesque et tincidunt justo viverra. Aenean lorem turpis, blandit tristique fringilla a, pellentesque ut lectus. In sed diam leo. Donec interdum, velit at pharetra pellentesque, erat lectus sodales purus, a commodo velit lorem sit amet erat. Donec enim nisi, condimentum sit amet adipiscing quis, posuere sit amet ante.
                        <button type="button" id="buttonEditTableDescription">edit</button>
                    </div>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                        <button type="button" class="columnNameButton">ChapterId</button>
                </fieldset>
            </div>
            <div class="divColumnDescription floatLeft">
                <fieldset class="fieldsetColumnDescriptionText">
                    <legend>ChapterId</legend>
                    <div class="divDescriptionText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lobortis justo nec enim elementum ut consectetur enim pretium.
                        <button type="button" id="buttonEditColumnDescription">edit</button>
                    </div>
                    <div>
                        Type: BigInt
                    </div>
                </fieldset>
            </div>
            <div class="clearBoth"></div>
        </div>
    </body>
</html>